# Streamlit config files
.streamlit/

# Python virtual environment
venv/

# Logs and debug files
*.log
*.out
*.err

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Cache directories
__pycache__/
.pytest_cache/
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment files
.env
.env.local

# System files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
